@import './variable.scss';
/* Main Styles */
.wrapper {
    display: flex;
    min-height: 100vh;
    @media (min-width:2000px) {
        max-width: 1600px;
        margin: 0 auto;
        border: 1px solid $border-color;
    }
    nav {
        max-width: 280px;
        width: 20%;
        border-right: 1px solid $border-color;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: $spacing-medium;
        padding-top: 3.2rem;
        transition: .3s all ease-out;
        .nav-list {
            margin-top: 4rem;
            .links {
                display: flex;
                padding: 1.2rem 1.4rem;
                @include border-radius;
                transition: .3s all ease-out;
                cursor: pointer;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 2rem;
                margin-bottom: .4rem;
                &-icon {
                    width: 14px;
                    display: inline-flex;
                    margin-right: 1.8rem;
                }
                
                &:hover {
                    background-color: $bg-color;
                }
            }
        }
        .close-btn {
            position: absolute;
            right: 30px;
            top: 20px;
            opacity: 0;
            visibility: hidden;
        }
        .user {
            .image {
                font-size: 2rem;    
            }
        }
        @media (max-width: 768px) {
            position: fixed;
            background: #fff;
            z-index: 999;
            height: 100%;
            width: 100%;
            left: -100%;
            opacity: 0;
            visibility: hidden;
            padding-top: 60px;
            box-shadow: 0 0px 20px 0px #000;
        }
        &.show {
            opacity: 1;
            visibility: visible;
            left: 0;
            .close-btn {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    main {
        display: flex;
        flex-direction: column;
        flex: 1;
        header {
            border-bottom: 1px solid $border-color;
            padding: 1.4rem 0;
            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                li {
                    margin-right: 3rem;
                    form {
                        position: relative;
                        .search_icon {
                            position: absolute;
                            top: 52%;
                            left: 8px;
                            transform: translateY(-50%);
                            width: 16px;
                            opacity: .5;
                        }
                        input {
                            width: 80%;
                            font-size: 1.7rem;
                            padding-left: 30px;
                            max-width: 256px;
                            height: 40px;
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                    button {
                        background: transparent;
                        outline: none;
                        border: none;
                    }
                    &.mobile-nav {
                        opacity: 0;
                        visibility: hidden;
                        // flex: 1;
                        @media (max-width: 768px) {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                @media (max-width: 768px) {
                    justify-content: space-between;
                    li {
                        margin-right: 0;
                        input {
                            padding: .2rem; 
                        }
                        span{
                            padding: 3rem;
                        }
                        form span {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .users {
            display: flex;
            flex: 1;
            &-lst {
                flex: 1;
                padding: 4.8rem;
                h1 {
                    margin-bottom: .8rem;
                    font-weight: 600;
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                }
                .sub-title {
                    color: $secondary-color;
                    font-weight: 400;
                    font-size: 1.7rem;
                    line-height: 2.4rem;
                    margin-bottom: 2.4rem;
                }
                .filter {
                    span {
                        color: $secondary-color;
                    }
                    select {
                        margin-left: 1.6rem;
                        width: 25.6rem;
                        padding: .8rem 1.2rem;
                    }
                }
                &_box {
                    .box-item {
                        display: flex;
                        flex-basis: 50%;
                    }
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 4rem;
                    .box-item {
                        // @media (max-width: 768px) {
                        //     flex-basis: 50%;
                        // }
                        @media (max-width: 480px) {
                            flex-basis: auto;
                        }
                    }
                }
            }
            &-details {
                width: 30%;
                max-width: 440px;
                border-left: 1px solid $border-color;
                position: fixed;
                background: #fff;
                z-index: 999;
                height: 100%;
                width: 100%;
                top: 0;
                right: -100%;
                opacity: 0;
                visibility: hidden;
                box-shadow: 0 0px 20px 0px #000;
                transition: .3s all ease-in-out;
                &.show {
                    opacity: 1;
                    visibility: visible;
                    right: 0;
                }
                &_banner {
                    background: $bg-color;
                    padding: 4.8rem;
                    .close-btn {
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        opacity: 1;
                        visibility: visible;
                    
                    }
                    .user {
                        .image {
                            padding: 3rem;
                            font-size: 2.8rem;
                            @include border-radius(1.6rem)
                        }
                        .desc {
                            .name {
                                margin-bottom: .8rem;
                                font-size: 24px;
                                line-height: 32px;
                                margin-bottom: 0;
                            }
                            .title {
                                font-weight: 400;
                                font-size: 1.7rem;
                                line-height: 2.4rem;
                            }
                        }
                    }
                    
                    
                }
                &_body {
                    padding: 4rem;
                    .item {
                        margin-bottom: 4rem;
                        p {
                            color: $secondary-color;
                            margin-bottom: .4rem;
                            font-weight: 500;
                            font-size: 1.5rem;
                            line-height: 2rem;
                        }
                        span {
                            font-weight: 400;
                            font-size: 1.7rem;
                            line-height: 2.4rem;
                        }
                    }
                }
            }
            @media (min-width:769px) and (max-width:1024px) {
                &-lst_box .box-item{
                    flex-basis: 100%;
                }
            }
            @media (max-width:768px) {
                &-lst {
                    padding: 1.8rem;
                    .filter select {
                        margin-top: 1.8rem;
                        margin-left: 0;
                        width: 100%;
                        padding: 10px 20px;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}